$primary-1: #48FFA7;
$primary-2: #76CE92;
$primary-3: #6DE092;
$primary-4: #78F8AB;

$secondary-1: #DD943F;
$secondary-2: #ECAB5F;
$secondary-3: #F8BD78;
$secondary-4: #FFCE95;
$secondary-5: #FFDFB9;

$dark-1: #040A11;
$dark-2: #0B1E31;
$dark-3: #133251;

$neuter-1: #090B11;
$neuter-2: #1E2022;
$neuter-3: #2D2F33;
$neuter-4: #3C3E42;
$neuter-5: #4B4E53;
$neuter-6: #5A5E64;
$neuter-8: #696D75;
$neuter-9: #787C86;
$neuter-10: #888C97;
$neuter-11: #979CA8;
$neuter-12: #A6ABB9;
$neuter-13: #B5BBC8;
$neuter-14: #C4CAD9;
$neuter-15: #E2E9FB;

$btn-h: 120px;
$btn-w: 387px;

$btn-h-cellphone: 60px;

$desktop-medium: 1440px;
$tablet: 1024px;
$cellphone: 758px;

html{
  height: -webkit-fill-available;
}

body{
  background-image: linear-gradient(to right, $dark-3 ,$dark-1);
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

#hero{
  display: flex;
  background-image: url(../img/robot-desktop-b.png),  linear-gradient(to right, $dark-3 ,$dark-1);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  width: 100vw;
  height: 100vh;
  @media (min-width: $tablet) and (max-width: $desktop-medium){
    background-image: url(../img/robot-desktop-m.png),  linear-gradient(to right, $dark-3 ,$dark-1);
  }
  @media (max-width: $tablet){
    background-image: linear-gradient(to right, $dark-3 ,$dark-1);
    background-repeat: repeat-y;
    height: calc(var(--vh, 1vh) * 100);
  }
}

#hero-copy{
  align-self: center;
  margin-left: 120px;
  @media (max-width: $tablet){
    margin: 0 auto;
    text-align: center;
  }
  @media (max-width: $cellphone) and (orientation: portrait){
    margin: 0 10%;
  }
}

.hero-title{
  max-width: 692px;
  font-family: 'Work Sans', sans-serif;
  font-size: 7.5em;
  padding-bottom: 20px;
  color: $primary-4;
  @media (max-width: $tablet){
    font-size: 7.5em * 0.5;
  }
}

.hero-subtitle{
  font-family: 'Roboto', monospace;
  font-size: 2.5em;
  color: #fff;
  margin-bottom: 50px;
  @media (max-width: $tablet){
    font-size: 2.5em * 0.5;
  }
}

.wrapper{
  @media (max-width: $tablet){
    margin: 0 auto;
  }
  > div{
    display: inline-block;
    margin-right: 50px;
    @media (max-width: $tablet){
      display: block;
      margin-right: 0px;
      margin-bottom: 20px;
    }
  
    &:last-child{
      margin-right: 0px;
      margin-bottom: 0px;
    }
  } 
}


.btn{
  z-index: 1;
  display: inline-block;
  height: $btn-h;
  width: $btn-w;
  background-color: $secondary-4;
  text-align: center;
  &:hover{
    background-color: $secondary-5;
  }
  @media (max-width: $tablet){
    height: $btn-h-cellphone;
    width: 100%;
  }
  span{
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    line-height: $btn-h;
    color: $dark-3;
    @media (max-width: $tablet){
      font-size: 2em*0.75;
      line-height: $btn-h-cellphone;
    }
  }
  + span{ 
    display: block;
    height: $btn-h;
    width: $btn-w;
    margin-top: -$btn-h + 10px;
    margin-left: 10px;
    background-color: $secondary-1;
    @media (max-width: $tablet){
      margin-top: -$btn-h-cellphone + 10px;
      height: $btn-h-cellphone;
      width: 100%;
    }
  }
  
}

.btn-cta{
  background-color: $primary-4;
  + span{ 
    background-color: $primary-1;
  }
}